 # | todoSet |     user.Email | user.IsActive 
 - | ------- | -------------- | ------------- 
 1 |    X    | some@email.com |          True 
 2 |    X    | some@email.com |         False 

TOTAL: 2 TEST CASES