using (todoSet.Define())
{
    todo.Title = "Forget NCase";
    todo.Title = "Remember";
    todo.Title = "Love!";

    todo.DueDate = yesterday;
    todo.DueDate = now;
    todo.DueDate = tomorrow;

    todo.IsDone = false;
    todo.IsDone = true;
}