 # | todo.IsDone |        todo.DueDate |   todo.Title 
 - | ----------- | ------------------- | ------------ 
 1 |        True | 10.11.2011 00:00:00 | Forget NCase 
 2 |        True | 10.11.2011 00:00:00 |     Remember 
 3 |        True | 10.11.2011 00:00:00 |        Love! 
 4 |        True | 11.11.2011 00:00:00 |     Remember 
 5 |        True | 12.11.2011 00:00:00 |     Remember 
 6 |       False | 12.11.2011 00:00:00 |        Love! 

TOTAL: 6 TEST CASES