using (todoSet.Define())
{
    todo.IsDone = true;
        todo.DueDate = yesterday;
            todo.Title = "Forget NCase";
            todo.Title = "Remember";
            todo.Title = "Love!";
        todo.DueDate = now;
            todo.Title = "Remember";
        todo.DueDate = tomorrow;
            todo.Title = "Remember";
    todo.IsDone = false;
        todo.Title = "Love!";
            todo.DueDate = tomorrow;
}