<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="ColorCode" version="1.0.1" targetFramework="net45" />
  <package id="HtmlRenderer.Core" version="1.5.0.5" targetFramework="net45" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="9.2.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="NCase" version="0.2.0.276" targetFramework="net45" />
  <package id="NCase.NunitAdapter" version="0.2.0.276" targetFramework="net45" />
  <package id="NDocUtil" version="0.3.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUtil" version="0.2.0.276" targetFramework="net45" />
  <package id="NVisitor" version="1.1.0.73" targetFramework="net45" />
</packages>